<!DOCTYPE html>
<html charset="utf-8">

<head>
    <title>COMAI TECHNOLOGIES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Comai Technologies home portal." />
    <meta name="keywords" content="Comai Technologies home portal, comai, comai technologies, enterstarts, uniteltmais, criative camp" />
    <meta name="author" content="null" />
    <meta name="ETX-WebApp-Id" content="c7a382f601524c71" />
    <meta name="ETX-WebApp-Org" content="937d20a59ede4db2" />
    <meta name="ETX-Page-Id" content="3b65e8b5fe754efb" />
    <meta name="ETX-WebApp-Generated" content="2020-08-21 19:23" />


    <link href="https://publica.enterstarts.com/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://publica.enterstarts.com/vendor/datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link href="https://publica.enterstarts.com/css/ng-strap.css" rel="stylesheet" />
    <!-- <link href="https://publica.enterstarts.com/css/ng-strap-additions.css" rel="stylesheet" /> -->
    <link href="https://publica.enterstarts.com/css/modern-business.css" rel="stylesheet" />
    <link href="https://publica.enterstarts.com/etx-assets/c7a382f601524c71.css" rel="stylesheet" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <script async src="https://arc.io/widget.min.js#KaqaAWoa"></script>

</head>

<body style="background-color: #fff;">
    <!-- Navigation -->
    <!--
-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top " id="simple-navbar-b29d44d3744c40a9" ng-controller="NavbarController">

        <div class="container">
            <a class="navbar-brand" href="index.html">

                <img src="https://etx-storage.s3.us-east-2.amazonaws.com/COMPONENT/b29d44d3744c40a9/eee253ab64c561e047d132b789722107.png" width="75px" height="75px" />

            </a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                </ul>
            </div>
        </div>

    </nav>

    <div style="margin-bottom:55px;"></div>

    <header id="carrs-3027b43658274b95" class="header-carrs">
        <div class="carousel slide" data-ride="carousel" id="carrousel-3027b43658274b95">
            <ol class="carousel-indicators">

                <li data-target="#carrousel-3027b43658274b95" class="active" data-slide-to="0">
                </li>

            </ol>

            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->

                <div class="carousel-item active" style="background-image: url('https://etx-storage.s3.us-east-2.amazonaws.com/CAMPAIGN_MEDIA/4448e745141245d3/5c5610b1375277a287a2905d0dcd9069.png')">
                    <div class=" slide-descr">
                        <h1 class="slice-descr-text">

                        </h1>

                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#carrousel-3027b43658274b95" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carrousel-3027b43658274b95" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>


    <div class=" container etx-container-section ">
        <div class="row rs-margin  " data-sec-name="business-success" id="section-a3b0aef4e1124b8e" style="background-color:inherit;">
            <div class="col-12">
                <h1 class=" texthaeding">
                    Automated and intelligent communication
                </h1>
            </div>
            <div class="col-12">
                <h1 class=" subheading">
                    Build products and services tailored to your client
                </h1>
            </div>
            <div class="col-lg-12">
                <section class="showcase">
                    <div class="container-fluid">
                        <div class="row no-gutters bg-light">

                            <div ng-class="{'col-lg-6 text-white showcase-img':true, 
                        'order-lg-1': 'right'=='RIGHT',
                        'order-lg-2': 'right'=='LEFT',
                        }" style="background-image: url('https://etx-storage.s3.us-east-2.amazonaws.com/CAMPAIGN_MEDIA/4448e745141245d3/4ec9961fbf3b8e09129626b28c827c0b.png');">

                            </div>

                            <div ng-class="{'col-lg-6 my-auto showcase-text':true, 
                      'order-lg-1': 'right'=='LEFT',
                      'order-lg-2': 'right'=='RIGHT',
                      }">
                                <h2>
                                    Have you ever imagined knowing exactly the needs of your market?
                                </h2>
                                <p class="xlead lead mb-0">
                                    We are here to give you the tools you need to know the profile of your customers, build the ideal product and bring people solutions tailored to their problems.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-12">
                <section class="showcase">
                    <div class="container-fluid">
                        <div class="row no-gutters bg-light">

                            <div ng-class="{'col-lg-6 text-white showcase-img':true, 
                        'order-lg-1': 'LEFT'=='RIGHT',
                        'order-lg-2': 'LEFT'=='LEFT',
                        }" style="background-image: url('https://etx-storage.s3.us-east-2.amazonaws.com/CAMPAIGN_MEDIA/4448e745141245d3/b35b96f6805024ec6e36ec0b5a2ce6d7.gif');">

                            </div>

                            <div ng-class="{'col-lg-6 my-auto showcase-text':true, 
                      'order-lg-1': 'LEFT'=='LEFT',
                      'order-lg-2': 'LEFT'=='RIGHT',
                      }">
                                <h2>
                                    What if you could give people a way to contribute to the creation of services and products?
                                </h2>
                                <p class="xlead lead mb-0">
                                    Comai brings to our community an open and creative platform where you can personalize the services and products for your users.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class=" container etx-container-section ">
        <div class="row rs-margin  " data-sec-name="main-section" id="section-5f9d6d07d65f45a7" style="background-color:inherit;">
            <div class="col-12">
                <h1 class=" texthaeding">
                    Features
                </h1>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4 mb-30 col-xs-12">
                <div class="card h-100" id="scard-680c82444d124342" style="margin-top:15px;background-color: #fff" ng-init='conf_680c82444d124342={&quot;tags&quot;:[]}'>
                    <a href="">
                        <img class="card-img-top" height="220px" src="https://etx-storage.s3.amazonaws.com/CAMPAIGN_MEDIA/4448e745141245d3/eecd7c4e5bff547b68bc5fa65469f6bc.png" ng-if="'https://etx-storage.s3.amazonaws.com/CAMPAIGN_MEDIA/4448e745141245d3/eecd7c4e5bff547b68bc5fa65469f6bc.png'"
                            alt="" />
                    </a>

                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="">
                                Data Analise
                            </a>
                        </h4>
                        <p class="card-text">
                            Machine Learning Based Algoritmn for data insights
                        </p>

                        <p ng-if="conf_680c82444d124342.tags.length>0" ng-bind="'Includes'" class="text-bold card-includes">
                        </p>
                        <ul class="list-group card-tag-list" ng-if="conf_680c82444d124342.tags.length>0">
                            <li class="list-group-item" ng-repeat="c in conf_680c82444d124342.tags">
                                <span ng-bind="c.label"></span>
                            </li>
                        </ul>
                    </div>

                    <div class="card-footer " style="background-color: #fff;border-top:0px;" id="learn-more-680c82444d124342" ng-if="''">
                        <a href="" class="btn btn-primary">
                            Learn more
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4 mb-30 col-xs-12">
                <div class="card h-100" id="scard-bf20813744464de2" style="margin-top:15px;background-color: #fff" ng-init='conf_bf20813744464de2={&quot;tags&quot;:[]}'>
                    <a href="">
                        <img class="card-img-top" height="220px" src="https://etx-storage.s3.us-east-2.amazonaws.com/CAMPAIGN_MEDIA/4448e745141245d3/750487a3096255a9d69cfcd296cc4b2f.png" ng-if="'https://etx-storage.s3.us-east-2.amazonaws.com/CAMPAIGN_MEDIA/4448e745141245d3/750487a3096255a9d69cfcd296cc4b2f.png'"
                            alt="" />
                    </a>

                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="">
                                Produt and Service Optimization
                            </a>
                        </h4>
                        <p class="card-text">
                            Target an audience based on your market data insights
                        </p>

                        <p ng-if="conf_bf20813744464de2.tags.length>0" ng-bind="'Includes'" class="text-bold card-includes">
                        </p>
                        <ul class="list-group card-tag-list" ng-if="conf_bf20813744464de2.tags.length>0">
                            <li class="list-group-item" ng-repeat="c in conf_bf20813744464de2.tags">
                                <span ng-bind="c.label"></span>
                            </li>
                        </ul>
                    </div>

                    <div class="card-footer " style="background-color: #fff;border-top:0px;" id="learn-more-bf20813744464de2" ng-if="''">
                        <a href="" class="btn btn-primary">
                            Learn more
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4 mb-30 col-xs-12">
                <div class="card h-100" id="scard-c02ac719740a4200" style="margin-top:15px;background-color: #fff" ng-init='conf_c02ac719740a4200={&quot;tags&quot;:[]}'>
                    <a href="">
                        <img class="card-img-top" height="220px" src="https://etx-storage.s3.us-east-2.amazonaws.com/CAMPAIGN_MEDIA/4448e745141245d3/b8bc766aad2619e4b3cd755297a551e2.png" ng-if="'https://etx-storage.s3.us-east-2.amazonaws.com/CAMPAIGN_MEDIA/4448e745141245d3/b8bc766aad2619e4b3cd755297a551e2.png'"
                            alt="" />
                    </a>

                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="">
                                Decision Metrics
                            </a>
                        </h4>
                        <p class="card-text">
                            Base your marketing or business decision with next to real time metrics
                        </p>

                        <p ng-if="conf_c02ac719740a4200.tags.length>0" ng-bind="'Includes'" class="text-bold card-includes">
                        </p>
                        <ul class="list-group card-tag-list" ng-if="conf_c02ac719740a4200.tags.length>0">
                            <li class="list-group-item" ng-repeat="c in conf_c02ac719740a4200.tags">
                                <span ng-bind="c.label"></span>
                            </li>
                        </ul>
                    </div>

                    <div class="card-footer " style="background-color: #fff;border-top:0px;" id="learn-more-c02ac719740a4200" ng-if="''">
                        <a href="" class="btn btn-primary">
                            Learn more
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h1 class=" texthaeding">
                    The Digital Market
                </h1>
            </div>
            <div class="col-12">
                <div class="carousel slide" data-ride="carousel" id="banner-67e9e73ce280401a">
                    <ol class="carousel-indicators">
                        <li data-target="#carrousel-67e9e73ce280401a" class="active " data-slide-to="{{compobj.indexC}}">
                        </li>
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        <!-- Slide One - Set the background image for this slide in the line below -->
                        <div class="carousel-item active banner-item" style="background-image: url('https://etx-storage.s3.us-east-2.amazonaws.com/CAMPAIGN_MEDIA/4448e745141245d3/78fca39c8f6aaf1ca9167dfb79676557.png');">
                            <div class=" slide-descr">
                                <h1 class="slice-descr-text">

                                </h1>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class=" container etx-container-section ">
        <div class="row rs-margin  " data-sec-name="description" id="section-056a561106994657" style="background-color:inherit;">
            <div class="col-12">
                <h1 class=" texthaeding">
                    Roadmap
                </h1>
            </div>
            <div class="col-12">
                <div class="carousel slide" data-ride="carousel" id="banner-b0afaa10829a43f7">
                    <ol class="carousel-indicators">
                        <li data-target="#carrousel-b0afaa10829a43f7" class="active " data-slide-to="{{compobj.indexC}}">
                        </li>
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        <!-- Slide One - Set the background image for this slide in the line below -->
                        <div class="carousel-item active banner-item" style="background-image: url('https://etx-storage.s3.us-east-2.amazonaws.com/CAMPAIGN_MEDIA/4448e745141245d3/4ad115e62d02c6bafb0cf242278ec62f.png');">
                            <div class=" slide-descr">
                                <h1 class="slice-descr-text">

                                </h1>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <div class="carousel slide" data-ride="carousel" id="banner-acf0bbdcaf1e422a">
                    <ol class="carousel-indicators">
                        <li data-target="#carrousel-acf0bbdcaf1e422a" class="active " data-slide-to="{{compobj.indexC}}">
                        </li>
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        <!-- Slide One - Set the background image for this slide in the line below -->
                        <div class="carousel-item active banner-item" style="background-image: url('https://etx-storage.s3.us-east-2.amazonaws.com/CAMPAIGN_MEDIA/4448e745141245d3/859d9f63a255dd065b08425a7a7b83d3.png');">
                            <div class=" slide-descr">
                                <h1 class="slice-descr-text">

                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" container etx-container-section ">
        <div class="row rs-margin  " data-sec-name="Footer" id="section-7981052b996449eb" style="background-color:inherit;">
            <div class="col-lg-12 col-xs-12">
                <div class="container " style="margin-top: 0px;">
                    <div class="row">
                        <div class="col-md-8 mb-5 text-center">
                            <center>
                                <img class="" style="padding-top:15px;" width="250px" height="250px" src="https://etx-storage.s3.us-east-2.amazonaws.com/COMPONENT/aab722d2b94347cf/56781fc9e49ab95636c9397cd0b69e33.png" title="Comai Technologies" alt="Comai Technologies" />
                            </center>
                        </div>

                        <div class="col-md-4 mb-5">
                            <div style="">
                                <!-- <h3>Contacto</h3> -->
                                <p style="margin-bottom:2px;">
                                    <strong>Comai Technologies</strong>
                                    <br />
                                    <span class="fa fa-map-marker"></span> Praia, Cabo Verde
                                </p>

                                <p>
                                    <div>
                                        <abbr title="Telefone">
                                        <strong></strong>
                                    </abbr>

                                        <p ng-if="'(+238) 9147609'" style="margin:0px;" ng-repeat="phone in '(+238) 9147609'.split(',') track by $index">
                                            <span class="fa fa-mobile"></span>

                                            <a href="tel:+{{phone}}" style="display" ng-bind="phone">
                                            </a>
                                        </p>
                                    </div>

                                    <div>
                                        <abbr>
                                        <span class="fa fa-envelope"></span>
                                        <strong></strong>
                                    </abbr>
                                        <a href="mailto:comaicv@gmail.com">
                                        comaicv@gmail.com
                                    </a>
                                    </div>

                                    <div ng-if="''">
                                        <abbr>
                                        <span class="fa fa-facebook"></span>
                                        <strong></strong>
                                    </abbr>
                                        <a href="" target="__blank">
                                        facebook
                                    </a>
                                    </div>

                                    <div ng-if="''">
                                        <abbr>
                                        <span class="fa fa-twitter"></span>
                                        <strong></strong>
                                    </abbr>
                                        <a href="" target="__blank">
                                        twitter
                                    </a>
                                        <br />
                                    </div>

                                    <div ng-if="''">
                                        <abbr>
                                        <span class="fa fa-instagram"></span>
                                        <strong></strong>
                                    </abbr>
                                        <a href="" target="__blank">
                                        instagram
                                    </a>
                                        <br />
                                    </div>

                                    <div ng-if="''">
                                        <abbr>
                                        <span class="fa fa-youtube"></span>
                                        <strong></strong>
                                    </abbr>

                                        <a href="" target="__blank">
                                            <!-- youtube.com/comai -->
                                            youtube
                                        </a>
                                    </div>
                                </p>

                                <p>
                                    <abbr title="Hours">Opening hours</abbr>:
                                    <br /> 8 - 18h
                                </p>
                            </div>

                            <a class="btn btn-lg btn-success btn-block" href="tel:{{'(+238) 9147609'.split(',')[0]}}">
                                <span class="fa fa-phone"></span>
                                <strong>Call now!</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                &copy; comai
            </p>
        </div>
    </footer>


    <div style="display:none" ng-controller="AuthController" ng-init="connectWsSocket()">
    </div>

    <script src="https://publica.enterstarts.com/vendor/jquery/jquery.min.js"></script>
    <script src="https://publica.enterstarts.com/vendor/bootstrap/js/bootstrap.bundle.min.js">
    </script>
    <script src="https://publica.enterstarts.com/socket.io/socket.io.js"></script>

    <script src="https://publica.enterstarts.com/vendor/datetimepicker/jquery.datetimepicker.full.min.js"></script>

    <script src="https://publica.enterstarts.com/js/moment.js"></script>
    <script src="https://publica.enterstarts.com/js/underscore.js"></script>
    <script src="https://publica.enterstarts.com/js/angular.min.js"></script>

    <script src="https://publica.enterstarts.com/vendor/ng-strap/angular-strap.min.js"></script>
    <script src="https://publica.enterstarts.com/vendor/ng-strap/angular-strap.tpl.min.js"></script>

    <script src="https://publica.enterstarts.com/js/cart-service.js"></script>
    <script src="https://publica.enterstarts.com/js/etx-service.js"></script>
    <script src="https://publica.enterstarts.com/js/finchain-service.js"></script>
    <script src="https://publica.enterstarts.com/js/app.js"></script>
    <script src="https://publica.enterstarts.com/js/auth.js"></script>
    <script src="https://publica.enterstarts.com/js/fchain-app.js"></script>
    <script src="https://publica.enterstarts.com/js/search-app.js"></script>
    <script src="https://publica.enterstarts.com/js/cart-app.js"></script>
    <script src="https://publica.enterstarts.com/js/ecommerce-app.js"></script>



    <script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=recaptchaCallback" async defer>
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_5GyCDw6ahgcMC29iFe0JjtxJGYBJvH8">
    </script>

    <script type="text/javascript">
        window.recaptchaCallback = function() {
            console.info("recaptchaCallback()");
            window.recaptcha_is_load = true;
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha512/0.8.0/sha512.js">
    </script>
    <script src="https://www.youtube.com/iframe_api" async></script>
</body>

</html>
